body{
  background-image: url('https://www.publicdomainpictures.net/pictures/200000/velka/green-background-1480062887P1D.jpg');
  display: grid;
  grid-template-rows: 100px 180px 200px 10px 180px 142px;
  grid-template-columns: 20px 1fr 40px;
  text-align: center;
  background-repeat: no-repeat;
}
.navBar{
  display: flex;
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: rgb(8, 28, 6);
  margin:-10px -10px 0px -10px;
  opacity: 0.2;
  height: 75px;
  align-items: center;

}
.navBar:hover{
  opacity: 1;
  height: 100px;
  transition: all 0.5s;
}
#navItem{
  opacity: 1;
 color: white;
 justify-content: flex-start;
 font-size: 30px;
 font-family: "Neonderthaw";
}
.aiWinCounter, .userWinCounter{
  margin: 0 10px;
}
.userWins{
  margin-left: auto;
}
.navImg{
  width: 30px;
  margin-right: 20px;
}
.aiBar{
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 10px;
}
.middleArea{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 3/4;
}
.deal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 144px;
  z-index: 1;
  color: white;
  font-size: 40px;
  background-image: url("/images/Playing_Cards/card-back2.png");
  background-size: contain;
  text-shadow: 0px 0px 20px black;
  background-repeat: no-repeat;

}
.redeal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 144px;
  z-index: 1;
  color: white;
  font-size: 30px;
  background-image: url("/images/Playing_Cards/card-back2.png");
  background-size: contain;
  text-shadow: 0px 0px 20px black;
  background-repeat: no-repeat;
}
.deal:hover, .redeal:hover{
  width: 102px;
  height: 150px;
  transition: all 0.5s;
}
.displayMessage{
  display:flex;
  grid-column: 1/4;
  grid-row: 4/5;
  align-self: center;
  justify-content: center;
  color: white;
  opacity: 0.5;
  font-size: 25px;;
}
.userBar{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1/4;
  grid-row: 5/6;
  gap: 10px;

}
.selectableCard:hover{
  border: 3px solid red;
  transition: all 0.1s;

}
.selected{
  border: 2px solid red;
  width: 102px;
  height: 150px;
}
.buttons{
  grid-column: 1/4;
  grid-row: 6/7;
}
#loseImg{
  width: 160px;
}
.invisible{display: none;}
.flex{display: flex;}

.reset{
  background-image: url('images/Playing_Cards/resetChip.png');
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 144px;
  color: white;
  text-shadow: 1px 0px 4px black;
}
.reset:hover{
font-size: large;
transition: all 0.3s;
}