body{
  background-image: url('https://www.publicdomainpictures.net/pictures/200000/velka/green-background-1480062887P1D.jpg');
  display: grid;
  grid-template-rows: 100px 180px 200px 180px 10px;
  grid-template-columns: 20px 1fr 40px;
  text-align: center;
  background-repeat: no-repeat;
}
.navBar{
  display: flex;
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: rgb(8, 28, 6);
  margin:-10px -10px 0px -10px;
  opacity: 0.2;
  height: 75px;
  align-items: center;
}
.navBar:hover{
  opacity: 1;
  height: 100px;
  transition: all 0.2s;
}
#navItem{
  opacity: 1;
 color: white;
 float: left;
 font-size: 30px;
}
.navImg{
  width: 30px;
  margin-right: 20px;
}
.aiBar{
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 10px;
}
.middleArea{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 3/4;
 
}
.userBar{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1/4;
  grid-row: 4/5;
  gap: 10px;

}
.selectableCard:hover{
  border: 2px solid red;
}
.buttons{
  grid-column: 1/4;
  grid-row: 5/6;
}
.invisible{display: none;}