body{
  background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F22%2F23%2FEfD0C5.jpg&f=1&nofb=1&ipt=b199cbcd01f1eb4a4a033c3f35bff707e30b6310f6144894727b291e6eedf859&ipo=images') no-repeat center center fixed;
  display: grid;
  grid-template-rows: 100px 180px 200px 10px 180px 142px 1fr;
  grid-template-columns: 110px 1fr 110px;
  text-align: center;
  background-size: cover;
}
.socialLinks{
  position:fixed;
  bottom: 0;
  left: 10%;
  opacity: 0.7;
}
.socialLinks:hover{
  opacity: 1;
}
.githubLink, .linkedinLink{
  width: 50px;
}
.suitsBorder{
  grid-column: 1/2;
  background-image: url('images/Playing_Cards/suitsborder.png');
  height: 100vh;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}
.suitsBorder2{
  background-image: url('images/Playing_Cards/flipped.png');
  height: 100vh;
  grid-column: 3/4;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}
.suitsBorder3{
  grid-column: 1/2;
  background-image: url('images/Playing_Cards/suitsborder.png');
  height: 100vh;
  grid-row-start: 2;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}
.suitsBorder4{
  background-image: url('images/Playing_Cards/flipped.png');
  height: 100vh;
  grid-column: 3/4;
  grid-row-start: 2;
  background-repeat: repeat;
  padding: 0;
  margin: 0;
}
.welcomeText{
  display: flex;
  background-image: url('images/Playing_Cards/sign.png');
  justify-self: center;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  grid-column: 1/4;
  grid-row: 2/3;
  width: 430px;
  height: 358px;
  background-repeat: no-repeat;
  color: rgba(58, 140, 223, 0.927);
 font-size: 20px;
 font-family: optima, sans-serif;
 padding-top: 30px;
}
.fabulous{
font-family: cursive;
font-size: 30px;
}
.fiveCard{
  display:flex;
  justify-self: center;
  padding-top: 50px;
  font-size: 40px;
  grid-column: 1/4;
  grid-row: 3/4;
  color: rgba(247, 40, 40, 0.768);
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.aiWinCounter{
  color: rgba(247, 40, 40, 0.768);
}
.userWinCounter{
  color:rgba(58, 140, 223, 0.927);
}
.navButtons{
  grid-column: 1/4;
  grid-row: 5/6;
}
.homeGameButton{
  padding: 40px;
  color: white;
  font-size: 40px;
  font-family: "Neonderthaw";
  margin-right: -30px;
  transition: all 1.5s;

}
.homeGameButton:hover{
  color: red;
  transition: all 1.5s;
}
.snoopy{
  display: flex;
  justify-self: center;
  justify-content: center;
  justify-items: center;
  grid-row:2/3;
  grid-column: 1/4;
}
.rulesBody{
  grid-column: 1/4;
  grid-row: 3/4;
}
p{
  color:white;
}
h2{
  color:white;
}

.navBar{
  display: flex;
  grid-row: 1/2;
  grid-column: 1/4;
  background-color: rgb(8, 28, 6);
  margin:-10px -10px 0px -10px;
  opacity: 0.2;
  height: 75px;
  align-items: center;
  transition: all .5s ease;


}
.navBar:hover{
  opacity: 1;
  height: 100px;
  transition: all .5s ease;
}
#navItem{
  opacity: 1;
 color: white;
 justify-content: flex-start;
 font-size: 30px;
 font-family: "Neonderthaw";
}
.aiWinCounter, .userWinCounter{
  margin: 0 10px;
}
.userWins{
  margin-left: auto;
}
.navImg{
  width: 30px;
  margin-right: 20px;
}
.aiBar{
  grid-column: 1/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;

  justify-content: center;
  gap: 10px;
}
.middleArea{
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/4;
  grid-row: 3/4;
}
.deal{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 144px;
  z-index: 1;
  color: white;
  font-size: 30px;
  background-image: url("/images/Playing_Cards/card-back2.png");
  background-size: contain;
  text-shadow: 0px 0px 20px black;
  background-repeat: no-repeat;
  transition: all 0.7s ease;


}
.redeal{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 144px;
  color: white;
  font-size: 30px;
  background-image: url("/images/Playing_Cards/card-back2.png");
  background-size: contain;
  text-shadow: 0px 0px 20px black;
  background-repeat: no-repeat;
  padding: 0;
  transition: all 0.7s ease;

}
.deal:hover, .redeal:hover{
  position: relative;
  font-size: 34px;
  padding: 10px;
  transition: all 0.7s ease;
}
.displayMessage{
  display:flex;
  grid-column: 1/4;
  grid-row: 4/5;
  align-self: center;
  justify-content: center;
  color: white;
  opacity: 0.5;
  font-size: 25px;;
}
.userBar{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1/4;
  grid-row: 5/6;
  gap: 10px;

}
.selectableCard:hover{
  border: 4px solid rgb(241, 241, 241);
  transition: all 0.1s;

}
.selected{
  border: 4px solid white;
  width: 102px;
  height: 150px;
}
.buttons{
  grid-column: 1/4;
  grid-row: 6/7;
}
#loseImg{
  width: 160px;
}
.invisible{display: none;}
.flex{display: flex;}

.reset{
  margin-top: -25px;
  background-image: url('images/Playing_Cards/resetChip.png');
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  height: 140px;
  color: white;
  text-shadow: 1px 0px 4px black;
transition: all 0.3s;

}
.reset:hover{
font-size: large;
transition: all 0.3s;
}
@media (max-width: 1000px) {
  .suitsBorder, .suitsBorder2, .suitsBorder3, .suitsBorder4{
    display: none;
  }
  .userBar{
    gap:0px
  }
}